<div class="owm_join_form owm_std_margin_top">

    {form name=accountTypeForm}
        <div class="owm_field_container owm_std_margin_bottom">
            <div class="owm_form_label owm_small_margin_bottom">{label name='accountType'}<span class="owm_required_star">*</span></div>
            <div class="owm_field_wrap owm_select_wrap">{input name='accountType'}</div>
            <div class="owm_error_txt">{error name='accountType'}</div>
        </div>
        <div class="owm_btn_wide owm_std_margin_top">
            {submit name='submit'}
        </div>
    {/form}
</div>
