{form name='emailVerifyForm'}
    <div class="owm_std_margin_top owm_blank_content">
        <div class="owm_info">{text key="base+email_verify_promo"}</div>
        <div class="owm_std_margin_top">
            <div class="owm_login_txt">
                {label name='email'}:
            </div>
            <div class="owm_login_field owm_login_pass">
                {input name='email' class="owm_invitation"}
            </div>
            <div style="color: red;">{error name='email'}</div>
            <div class="owm_btn_wide owm_btn_positive owm_std_margin_top">
                {submit name='sendVerifyMail' class='ow_ic_mail'}
            </div>
        </div>
    </div>
{/form}