<div class="owm_std_margin_top owm_blank_content">
    <div class="owm_std_margin_bottom">
        {form name='forgot-password'}
        <div class="owm_login_txt">
            {text key='base+forgot_password_form_text'}
        </div>
        <div class="owm_login_field owm_login_pass">
            {input name='email' class='ow_smallmargin'}
        </div>
        <div class="owm_btn_wide owm_btn_positive owm_std_margin_top">
            {submit name='submit' class='ow_positive'}
        </div>
        {/form}
        <div class="owm_std_margin_top">
        {component class="BASE_MCMP_ConnectButtonList"}
        </div>
    </div>
</div>