<div class="owm_std_margin_top owm_blank_content">
    <div class="owm_std_margin_bottom">
        {form name='reset-password'}
        <div class="owm_info">
            {$formText}
        </div>
        <div class="owm_login_txt owm_std_margin_top">
            {label name='password'}
        </div>
        <div class="owm_login_field owm_login_pass owm_std_margin_bottom">
            {input name='password' class='ow_smallmargin'}
        </div>
        <div class="owm_login_txt">
            {label name='repeatPassword'}
        </div>
        <div class="owm_login_field owm_login_pass">
            {input name='repeatPassword' class='ow_smallmargin'}
        </div>
        <div class="owm_btn_wide owm_btn_positive owm_std_margin_top">
            {submit name='submit' class='ow_positive'}
        </div>
        {/form}
    </div>
</div>