<div class="owm_std_margin_top owm_blank_content">
    <div class="owm_std_margin_bottom">
        {form name='reset-password-request'}
        <div class="owm_login_txt">
            {text key='base+reset_password_request_form_text'}
        </div>
        <div class="owm_login_field owm_login_pass">
            {input name='code' class='ow_smallmargin'}
        </div>
        <div class="owm_btn_wide owm_btn_positive owm_std_margin_top">
            {submit name='submit' class='ow_positive'}
        </div>
        {/form}
    </div>
</div>