ow_includes/config.php
ow_libraries/htmlpurifier
ow_libraries/html5lib-php-0.1/
ow_static/themes
ow_smarty/template_c
ow_install
nbproject
.settings
.project
.buildpath
.DS_Store
.idea
error_log
access_log
blank
build
.owr
owr.sh
owr.py
composer.phar
composer.lock

ow_libraries/vendor

ow_static/plugins/*
!ow_static/plugins/admin
!ow_static/plugins/base

ow_static/themes/*

ow_pluginfiles/*
!ow_pluginfiles/.htaccess

ow_userfiles/*
!ow_userfiles/.htaccess


ow_themes/*
!ow_themes/.htaccess

ow_log/*
!ow_log/.htaccess
