{style}
{literal}
.ow_active_plugins tr, .ow_inactive_plugins tr{
    border-top:1px solid #ccc;
}
.ow_plugin_controls{
    display:none;
}
{/literal}
{/style}
<div class="ow_narrow ow_automargin" >
{block_decorator name='box' type='empty' addClass='ow_stdmargin' iconClass='ow_ic_trash' langLabel='admin+manage_plugins_ftp_box_cap_label'}
{form name='ftp'}
<table class="ow_form ow_smallmargin">
       <tr>
           <td class="ow_label">{label name='host'}</td>
           <td class="ow_input">{input name='host'}</td>
       </tr>
       <tr>
           <td class="ow_label">{label name='login'}</td>
           <td class="ow_input">{input name='login'}</td>
       </tr>
       <tr>
           <td class="ow_label">{label name='password'}</td>
           <td class="ow_input">{input name='password'}</td>
       </tr>
       <tr>
           <td class="ow_label">{label name='port'}</td>
           <td class="ow_input">{input name='port'}</td>
       </tr>
   </table>
   <div class="clearfix"><div class="ow_right">{submit name='submit' class='ow_positive'}</div></div>
{/form}
{/block_decorator}
</div>