<div class="ow_wide ow_automargin">
    {block_decorator name='box'  addClass='ow_stdmargin' iconClass='ow_ic_plugin' langLabel='admin+manage_plugins_update_request_box_cap_label'}
    <div class="ow_center">
        {if !empty($platformUpdateAvail)}
            <div class="ow_anno ow_smallmargin ow_nocontent ow_ic_warning">{text key="admin+item_update_request_platform_update_warning"}</div>
        {/if}
        {if !empty($text)}
            <div class="ow_std_margin">{$text}</div>
        {/if}
        {if !empty($changeLog)}
            <div class="ow_std_margin" style="text-align: left;">
                {text key="admin+changelog_heading"}
                {foreach from=$changeLog item='item'}
                    <span><pre>{$item|escape:'html'}</pre></span>
                {/foreach}
            </div>
        {/if}
        {if !empty($platformUpdateAvail)}
            <span class="ow_button ow_critical"><span class=""><input onclick="window.location='{$updateUrl|escape:javascript}'" type="button" value="{text key='admin+plugin_update_platform_avail_yes_button_label'}"></span></span>
            {*decorator name='button' langLabel='admin+plugin_update_platform_avail_yes_button_label' onclick="window.location='`$updateUrl|escape:javascript`'" class="ow_button ow_critical"*}
            {decorator name='button' langLabel='admin+plugin_update_platform_first_button_label' onclick="window.location='`$platformUpdateUrl|escape:javascript`'"}
        {else}
            {if !empty($returnUrl)}
            {* TODO CSRF  *}
            {decorator name='button' langLabel='admin+license_form_leave_label' onclick="window.location='`$returnUrl|escape:javascript`'" class="ow_ic_left_arrow"}
            {/if}
            {if !empty($updateUrl)}
            {* TODO CSRF  *}
            {decorator name='button' langLabel='admin+plugin_update_yes_button_label' onclick="window.location='`$updateUrl|escape:javascript`'"}
            {/if}
        {/if}
    </div>
    {/block_decorator}
</div>
