{form name='mailSettingsForm'}

<table class="ow_table_1 ow_form">
    <!-- Smtp Settings -->

    {*<tr>
        <th class="ow_name ow_txtleft" colspan="3">
            <span class="ow_section_icon ow_ic_clock">{text key='admin+mail_smtp_settings'}</span>
        </th>
    </tr>*}
    <tr class="{cycle name="install" values="ow_alt2, ow_alt1"} ow_tr_first">
        <td class="ow_label">{text key='admin+mail_smtp_title_enabled'}</td>
        <td class="ow_value">{input name='mailSmtpEnabled'} {error name='mailSmtpEnabled'}</td>
        <td class="ow_desc">{text key='admin+mail_smtp_title_enabled_desc'}</td>
    </tr>
    <tr class="{cycle name="install" values="ow_alt2, ow_alt1"}">
        <td class="ow_label">{text key='admin+mail_smtp_title_host'}</td>
        <td class="ow_value">{input name='mailSmtpHost' style="width: 172px"}:{input name='mailSmtpPort' maxlength=5 style="width: 60px"}{error name='mailSmtpHost'}</td>
        <td class="ow_desc"></td>
    </tr>
    <tr class="{cycle name="install" values="ow_alt2, ow_alt1"}">
        <td class="ow_label">{text key='admin+mail_smtp_title_user'}</td>
        <td class="ow_value">{input name='mailSmtpUser'} {error name='mailSmtpUser'}</td>
        <td class="ow_desc ow_small"></td>
    </tr>
    <tr class="{cycle name="install" values="ow_alt2, ow_alt1"}">
        <td class="ow_label">{text key='admin+mail_smtp_title_password'}</td>
        <td class="ow_value">{input name='mailSmtpPassword'} {error name='mailSmtpPassword'}</td>
        <td class="ow_desc ow_small"></td>
    </tr>
    {*<tr class="{cycle name="install" values="ow_alt2, ow_alt1"}">
        <td class="ow_label">{text key='admin+mail_smtp_title_port'}</td>
        <td class="ow_value">{input name='mailSmtpPort'} {error name='mailSmtpPort'}</td>
        <td class="ow_desc ow_small"></td>
    </tr>*}
    <tr class="{cycle name="install" values="ow_alt2, ow_alt1"} ow_tr_las">
        <td class="ow_label">{text key='admin+mail_smtp_connection_prefix'}</td>
        <td class="ow_value">{input name='mailSmtpConnectionPrefix'} {error name='mailSmtpConnectionPrefix'}</td>
        <td class="ow_desc ow_small">{text key='admin+mail_smtp_connection_prefix_desc'}</td>
    </tr>

    <!-- / Smtp Settings -->

</table>
<div class="clearfix ow_stdmargin"><div class="ow_right">
{submit name='save' class='ow_ic_save'}
</div></div>
{/form}
{if $smtpEnabled}
	{block_decorator name="box" iconClass="ow_ic_mail" langLabel='admin+mail_smtp_test_connection_title'}
	{text key="admin+mail_smtp_connection_desc"}
	<div class="clearfix" style="padding: 5px;">
    <div class="ow_right">
            {decorator name="button" id="smtp_test_connection" langLabel="admin+mail_smtp_test_connection_btn"}
	</div>
    </div>
	{/block_decorator}
{/if}