<div class="clearfix ow_admin_choose_theme">

<div class="selected_theme_info">
<div class="selected_theme_info_stick">
{block_decorator name='box' type='empty' addClass='ow_stdmargin' iconClass="ow_ic_info" langLabel='admin+theme_info_cap_label'}

<div class="themes_preview">
    <div class="theme_wrap"><a onclick="{literal}new OW_FloatBox({$contents:$('.selected_theme_info .theme_preview'), $title:'Preview', width:'720px'}){/literal}" class="theme_icon" style="background-image:url({$themeInfo.previewUrl});"></a></div>
    <div class="theme_text_wrap">
        <div class="theme_title">{$themeInfo.title}</div>
        <div class="theme_desc">{$themeInfo.description}</div>
    </div>
</div>
    <div class="theme_info">
			<table class="ow_table_3">
			<tr class="ow_tr_first">
				<td class="ow_label">{text key='admin+theme_info_author_label'}:</td>
				<td class="ow_value"><span class="author">{$themeInfo.author}</span></td>
			</tr>
			<tr>
				<td class="ow_label ow_tr_last">{text key='admin+theme_info_author_url_label'}:</td>
				<td class="ow_value"><span class="author_url"><a href="{$themeInfo.authorUrl}">{$themeInfo.authorUrl}</a></span></td>
			</tr>
			</table>
        <div class="clearfix">
            <div class="ow_right theme_control_button ow_btn_delimiter">
                <span class="dlt_btn"{if empty($themeInfo.delete_url)} style="display:none;"{/if}>
                    {decorator name='button' class='theme_select_delete_btn ow_ic_delete' langLabel='admin+themes_choose_delete_button_label'}
                </span> 
                <span class="lsn_btn"{if empty($themeInfo.license_url)} style="display:none;"{/if}>
                    {decorator name='button' class='theme_select_lsn_btn' langLabel='admin+manage_plugins_add_license_label'}
                </span> 
                {decorator name='button' class='theme_select_submit ow_positive' langLabel='admin+themes_choose_activate_button_label'}</div></div>
            <div style="display: none;"><div class="theme_preview" style="text-align: center;"><img src="{$themeInfo.previewUrl}" /></div></div>
		</div>
{/block_decorator}
</div>
</div>

<div class="theme_thumbs">
{block_decorator name='box' type='empty' addClass='ow_stdmargin' iconClass="ow_ic_monitor" langLabel='admin+themes_choose_list_cap_title'}
<div class="themes_select clearfix">
{foreach from=$themes item='theme'}
<div class="theme_item{if $theme.active} active{/if}{if !empty($theme.update_url) && empty($theme.license_url)} theme_update{/if}{if !empty($theme.license_url)} theme_invalid{/if}">
	<a class="theme_icon {$theme.key}" href="javascript://" style="background-image:url({$theme.iconUrl});">
		<span class="fake{if $theme.active} clicked{/if}"></span>
		<span class="name">{$theme.title}</span>
	</a>
    {if $theme.update_url && empty($theme.license_url)}<div class="theme_update_label"><a class="ow_lbutton ow_green" href="{$theme.update_url}">{text key='admin+manage_plugins_update_button_label'}</a></div>{/if}
</div>
{/foreach}
</div>
{/block_decorator}
{block_decorator name='box' type='empty' addClass='ow_stdmargin' iconClass="ow_ic_monitor" langLabel='admin+themes_admin_list_cap_title'}
<div class="themes_select admin_themes_select clearfix">
{foreach from=$adminThemes item='theme'}

<div class="theme_item{if $theme.active} active{/if}{if $theme.update_url} theme_update{/if}">
    <a class="theme_icon {$theme.key}" href="javascript://" style="background-image:url({$theme.iconUrl});">
		<span class="fake clicked"></span>
		<span class="name">{$theme.title}</span>
	</a>
    {if $theme.update_url}<div class="theme_update_label"><a class="ow_lbutton ow_green" href="{$theme.update_url}">{text key='admin+manage_plugins_update_button_label'}</a></div>{/if}
</div>

{/foreach}
</div>
{/block_decorator}
{block_decorator name='box' type='empty' addClass='ow_stdmargin' iconClass='ow_ic_trash' langLabel='admin+themes_add_new_box_cap_label'}
{form name='theme-add'}
<div class="ow_center ow_stdmargin">
{input name='file'}
</div>
<div class="clearfix"><div class="ow_right">{submit name='submit' class='ow_positive'}</div></div>
{/form}
{/block_decorator}
</div>
    <div style="display: none;">
        <div class="delete_confirm_node clearfix">    
            <div class="message ow_stdmargin"></div>
            <div class="ow_right">{decorator name='button' class='theme_select_delete ow_positive' langLabel='base+yes'}</div>
        </div>
    </div>
</div>
