
{block_decorator name="box" type="empty" addClass="ow_superwide ow_automargin"}

    {block_decorator name="box_cap" type="empty" addClass="ow_center" style="padding:15px;" langLabel="base+required_profile_questions"}
    {/block_decorator}

    {form name=requiredQuestionsForm}
        <table class="ow_table_1 ow_form ow_stdmargin">
            {foreach from=$questionArray key='section' item='questions' name='question'}

                {if !empty($section) }
                    <tr class="ow_tr_first"><th colspan="3">{text key="base+questions_section_`$section`_label"}</th></tr>
                {/if}
                
                {foreach from=$questions item='question' name='question'}
                    {cycle assign='alt' name=$section values='ow_alt1,ow_alt2'}
                    <tr class=" {if $smarty.foreach.question.last}ow_tr_last{/if}">
                        <td class="{$alt} ow_label">
                            {label name=$question.name}
                        </td>
                        <td class="{$alt} ow_value">
                            {input name=$question.name}
                            <div style="height:1px;"></div>
                            {error name=$question.name}
                        </td>
                        <td class="{$alt} ow_desc ow_small">
                            {question_description_lang name=$question.name}
                        </td>
                    </tr>
                {/foreach}

                {if !empty($section)}
                    {if !$smarty.foreach.question.first}
                        <tr class="ow_tr_delimiter"><td></td></tr>
                    {/if}
                {/if}

            {/foreach}
        </table>
        <div class="clearfix ow_stdmargin">
           <div class="ow_right">
               {submit name='submit'}
           </div>
        </div>
    {/form}
{/block_decorator}