{style}
{literal}
.ow_forgot_password{
    margin:0 auto;
    padding:100px;
    width:350px;
}
{/literal}
{/style}
<div class="ow_forgot_password">
    {block_decorator name='box' style='text-align:center;' langLabel='base+reset_password_request_cap_label'}
        <div style="padding: 0 5px 5px;">{text key='base+reset_password_request_form_text'}</div>
        {form name='reset-password-request'}
            {input name='code' class='ow_smallmargin'}
            <div class="clearfix"><div class="ow_right">{submit name='submit' class='ow_positive'}</div></div>
        {/form}
    {/block_decorator}
</div>