{form name="lang_edit"}
{input name='langId'}
<table class="ow_table_1 ow_form">
    <tr class="ow_alt2 ow_tr_first">
        <td class="ow_label">{label name='label'}</td>
        <td class="ow_value">{input name='label'}</td>
        <td class="ow_desc">{desc name='label'}</td>
    </tr>
    <tr class="ow_alt1">
        <td class="ow_label">{label name='tag'}</td>
        <td class="ow_value">{input name='tag'}</td>
        <td class="ow_desc">{desc name='tag'}</td>
    </tr>
    <tr class="ow_alt2 ow_tr_last">
        <td class="ow_label">{label name='rtl'}</td>
        <td class="ow_value">{input name='rtl'}</td>
        <td class="ow_desc">{desc name='rtl'}</td>
    </tr>
</table>
<div class="clearfix"><div class="ow_right">{submit name='submit' class="ow_positive"}</div></div>
{/form}