<span class="ow_button" style="float: left;">
    <span class="ow_ic_add">
        <input type="button" id="{$showId}" value="Bulk options" class="ow_ic_trash" />
    </span>
</span>
<div id="{$containerId}" style="display: none; float: left;">
    <span class="ow_button" style="float: left;">
        <span class="ow_ic_delete">
            <input type="button" id="{$deleteId}" value="Delete selected" class="ow_ic_left_arrow" />
        </span>
    </span>
    <span class="ow_button" style="float: right;">
        <span class="ow_ic_add">
            <input type="button" id="{$backId}" value="Exit bulk options" class="ow_ic_left_arrow" />
        </span>
    </span>
</div>