<ul class="ow_bl clearfix ow_small ow_left">
    <li>
        <a href="javascript://" id="{$showId}">TODO: Bulk options</a>
    </li>
</ul>
<div id="{$containerId}" style="display: none; float: left;">
    <ul class="ow_bl clearfix ow_small ow_left">
        <li>
            <a href="javascript://" id="{$deleteId}" class="ow_mild_red delete">TODO: Delete Selected</a>
        </li>
    </ul>
    <ul class="ow_bl clearfix ow_small ow_left">
        <li>
            <a href="javascript://" id="{$backId}">TODO: Exit bulk options</a>
        </li>
    </ul>
</div>