{form name='change-user-password'}
    <br />

    <div class="owm_field_container owm_std_margin_bottom">
        <div class="owm_form_label owm_small_margin_bottom">{label name='oldPassword'}</div>
        <div class="owm_field_wrap">{input name='oldPassword'}</div>
        <div class="owm_error_txt">{error name='oldPassword'}</div>
    </div>

    <div class="owm_field_container owm_std_margin_bottom">
        <div class="owm_form_label owm_small_margin_bottom">{label name='password'}</div>
        <div class="owm_field_wrap">{input name='password'}</div>
        <div class="owm_error_txt">{error name='password'}</div>
    </div>

    <div class="owm_field_container owm_std_margin_bottom">
        <div class="owm_form_label owm_small_margin_bottom">{label name='repeatPassword'}</div>
        <div class="owm_field_wrap">{input name='repeatPassword'}</div>
        <div class="owm_error_txt">{error name='repeatPassword'}</div>
    </div>

    <div class="owm_btn_wide owm_std_margin_top">
        {submit name='change'}
    </div>

{/form}