<div class="owm_sidebar_profile_block">
    <div class="owm_sidebar_profile_cont clearfix">
        <div class="owm_avatar"><a href="{$url}"><img src="{$avatarUrl}" /></a></div>
        <div class="owm_sidebar_profile_name">{$username}</div>
        <a href="{$url}" class="owm_sidebar_profile_btn"><span>{text key='mobile+view_profile'}</span></a>
    </div>
    <div class="owm_sidebar_profile_delimiter"></div>
    <input class="owm_sidebar_profile_logout" type="button" onclick="location.href='{url_for_route for='base_sign_out'}'" value="{text key='mobile+sign_out'}" />
</div>