{script}
{literal}

        $(function(){
            $("#change_password_button").click(
                function() { 
                    window.oldPassword.floatBox = new OW_FloatBox({$title: '{/literal}{text key='base+change_password'}{literal}', $contents: $('#change-password-div'), width: 480});
                    window.owForms['change-user-password'].resetForm();
                    window.owForms['change-user-password'].removeErrors();
                }
            );
       });

{/literal}
{/script}

{decorator name="button" id="change_password_button" langLabel='base+change_password'}
<div style="display:none;">
    <div id="change-password-div">
        {form name="change-user-password" }
                <table class="ow_table_1 ow_form">
                    <tr class="ow_alt2 ow_tr_first">
                        <td class="ow_label" style="width:40%;">{label name='oldPassword'}</td>
                        <td class="ow_value">{input name="oldPassword"}<br/>{error name="oldPassword"}</td>
                    </tr>
                    <tr class="ow_alt1" width="40">
                        <td class="ow_label" style="width:40%;">{label name='password'}</td>
                        <td class="ow_value">{input name="password"}<br/>{error name="password"}</td>
                    </tr>
                    <tr class="ow_alt2 ow_tr_last">
                        <td class="ow_label" style="width:40%;">{label name='repeatPassword'}</td>
                        <td class="ow_value">{input name="repeatPassword"}<br/>{error name="repeatPassword"}</td>
                    </tr>

                </table>
                
                <div class="clearfix ow_stdmargin"><div class="ow_right">{submit name="change"}</div></div>
         {/form }
    </div>
</div>
