<div id="{$data.uid}">
    <div class="ow_file_attachment_preview clearfix"{if empty($data.showPreview)} style="display:none;"{/if}></div>
    {if empty($data.selector)}
    <div class="clearfix ow_status_update_btn_block">
        <span class="ow_attachment_icons">
            <div id="nfa-feed1" class="ow_attachments">
              <span class="buttons clearfix">
                  <a title="Attach" href="javascript://" class="attach"></a>
              </span>
            </div>
        </span>
    </div>
    {/if}
</div>