<div class="owm_paging clearfix ow_smallmargin">
    <span>{text key='base+pages_label'}</span>
    {assign var='p' value='0' }
    {if $prev}<a class="owm_paging_prev" href="{$url}&{$prefix}page={math equation='x-1' x=$page}">{text key="base+paging_label_prev"}</a>{/if}
    {if $less}<a class="owm_paging_first" href="{$url}&{$prefix}page=1">{text key="base+paging_label_first"}</a>{/if}
    <span class="owm_paging_select"> &#45; <select><option>2</option></select> &#45; </span>
    {if $less}<span>...</span>{/if}
    {section name="paging" loop=$page_shortcut_count+1 start=1 step=1}
    	{math equation="x + y" x=$start  y=$smarty.section.paging.index assign='p'}{if $p<=$count}<a {if $p == $page }class="active"{/if} href="{$url}&{$prefix}page={$p}">{$p}</a>{/if}
    {/section}
    {if $more}<span>...</span>{/if}
    {if $more}<a class="owm_paging_last" href="{$url}&{$prefix}page={$count}">{text key='base+paging_label_last'}</a>{/if}
    {if $next}<a class="owm_paging_next" href="{$url}&{$prefix}page={math equation='x+1' x=$page}">{text key='base+paging_label_next'}</a>{/if}
</div>