<div class="owm_paging clearfix owm_padding owm_small_margin_bottom">
    {assign var='p' value='0'}

    {if $prev}
        <a class="owm_paging_prev" href="{$url}&{$prefix}page={math equation='x-1' x=$page}">&nbsp;</a>
    {else}
        <a class="owm_paging_prev owm_paging_prev_disabled" href="javascript://">&nbsp;</a>
    {/if}

    <a class="owm_paging_first" href="{$url}&{$prefix}page=1">1</a>

    <span class="owm_paging_select"> 
        &#45;
        <select onchange="location.href='{$url}&{$prefix}page=' + this.value">            
            {section name="paging" loop=$count+1 start=1 step=1}
                {math equation="x + y" x=0  y=$smarty.section.paging.index assign='p'}
                {if $page == $p}
                    <option selected="selected" value="{$p}">{$p}</option>
                {else}
                    <option value="{$p}">{$p}</option>
                {/if}
            {/section}
        </select> 
        &#45;
    </span>

    <a class="owm_paging_last" href="{$url}&{$prefix}page={$count}">{$count}</a>

    {if $next}
        <a class="owm_paging_next" href="{$url}&{$prefix}page={math equation='x+1' x=$page}">&nbsp;</a>
    {else}
        <a class="owm_paging_next owm_paging_next_disabled" href="javascript://">&nbsp;</a>
    {/if}
</div>
