<div class="owm_paging clearfix ow_smallmargin">
    {assign var='p' value='0'}

    {if $prev}
        <a class="owm_paging_prev" href="{$url}&{$prefix}page={math equation='x-1' x=$page}">&nbsp;</a>
    {/if}

    {if $less}<a class="owm_paging_first" href="{$url}&{$prefix}page=1">1</a>{/if}

    <span class="owm_paging_select"> 
        {if $less} 
            &#45;
        {/if}

        <select onchange="location.href='{$url}&{$prefix}page=' + this.value">            
            {section name="paging" loop=$page_shortcut_count+1 start=1 step=1}
                {math equation="x + y" x=$start  y=$smarty.section.paging.index assign='p'}
                {if $p<=$count}
                    {if $page == $p}
                        <option selected="selected" value="{$p}">{$p}</option>
                    {else}
                        <option value="{$p}">{$p}</option>
                    {/if}
                {/if}
            {/section}
        </select> 

        {if $more} 
            &#45;
        {/if}
    </span>
    
    {if $more}<a class="owm_paging_last" href="{$url}&{$prefix}page={$count}">{$count}</a>{/if}

    {if $next}
        <a class="owm_paging_next" href="{$url}&{$prefix}page={math equation='x+1' x=$page}">&nbsp;</a>
    {/if}
</div>