<div class="ow_profile_gallery_action_toolbar ow_profile_action_toolbar_wrap clearfix ow_stdmargin">
    <ul class="ow_bl ow_profile_action_toolbar clearfix ow_small ow_left">
        {foreach from=$toolbar item='action'}
            {if isset($action.html)}
                {$action.html}
            {elseif isset($action.extraLabel)}
                <li>
                    {$action.extraLabel}
                </li>
            {else}
                <li>
                    <a {$action.attrs} >
                        {$action.label}
                    </a>
                </li>
            {/if}
        {/foreach}
    </ul>

    {foreach from=$groups item="group"}
        {$group}
    {/foreach}

    {$cmpsMarkup}
</div>
